* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background: linear-gradient(135deg, #6a82fb 0%, #fc5c7d 100%);
  font-family: "Arial", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 1.2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}

.card-2 {
  max-width: 90vw !important;
}

.transcript-header {
  width: 100%;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: center;
}

.btn__container button {
  padding: 10px 25px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: none;
}

.talk {
  background-color: #00a8ff;
  transition: background-color 0.3s, transform 0.2s;
}

.shutup {
  background-color: #e84118;
  margin-left: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn__container button:hover {
  transform: scale(1.05);
}

.content {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  min-height: 150px;
}

.transcriptions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: inherit;
}

.transcription-item {
  background-color: #f79f1f;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  width: auto;
  max-width: calc(100% - 1em);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.transcription-item:focus {
  outline: none;
  background-color: #ffeaa7;
  color: black;
}

.popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 0.75em;
  background: #f1c40f;
  font-size: 2em;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
  color: #e84118;
  display: none;
}

.pop {
  z-index: 100;
  display: block;
}
