html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  background: linear-gradient(135deg, #0984e3 0%, #2d3436 74%);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.btn__container {
  display: flex;
  padding: 20px;
  margin-top: 7vh;
  justify-content: center;
}

.btn__container button {
  padding: 8px 20px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  outline: none;
  border: none;
  background-color: black;
  font-weight: bold;
  width: 100px;
  border: 3px solid;
  transition: 0.3s;
}

.btn__container button:hover {
  background: white;
  color: black;
}

.talk {
  color: #00a8ff;
  border-color: #00a8ff;
}

.shutup {
  color: #e84118;
  border-color: #e84118;
  margin-left: 30px;
}

.content {
  /* background:blue; */
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 20px;
  width: 95vw;
  margin-left: 20px;
}

.content p {
  background: #f79f1f;
  color: white;
  display: inline-block;
  min-width: 100px;
  margin: 2px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  top: 5.5%;
  left: 21%;
  box-sizing: border-box;
  padding: 10px;
  background: #f1c40f;
  font-size: 20px;
  opacity: 0;
  transition: 1s;
}

.pop {
  opacity: 1;
}
